@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS Document */		
body { margin: 0; padding: 0;}
#info {
        font-family: Sans-Serif;
        position: fixed;
        top: 18px;
        left: 80px;
        color: #FFF;
        background: grey;
        padding: 10px 25px 25px;
        width: 20%;
}
#map { position:fixed; top:0; bottom:0; width:100%; }



.ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:absolute;
  top:50%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }

@media (max-width:800px) {
#map  {
    top:100px;
    }
    
#info {
	/* width:100%; */
    width:100%;
	height:100px;
    text-shadow:none;
    left:0px;
    top:0px;  
	position: absolute;
    padding: 0px;
    }
#infobox{
    display:none;
    }    
    
}