@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin: 0;
    padding: 0;
    background-color: #741F2B;
}

#info {
    font-family: Sans-Serif;
    position: fixed;
    top: 1%;
    right: 1%;
    background-color: rgba(141,142,142,0.8);
    color: rgba(0,0,0,0.8);
    padding: 10px 25px 25px;
    height: 88%;
    width: 38%;
    min-width: 280px;
    overflow: auto;
}

@media (max-width: 280px) {
    #info {
        min-width: 90vw;
    }
}

#info-toggle-button {
    top: 5%;
    right: 5%;
    position: fixed;
    z-index: 100;
    border: none;
    border-radius: 10em;
    border-color: #2A3C24;
    border-style: solid;
    border-width: 4px;
    background-color: #741F2B;
    color: #DAD593;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 93%;
}

.ui-button {
    background: #3887BE;
    color: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    margin: -20px 0 0 -80px;
    z-index: 100;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
}

.ui-button:hover {
    background: #3074a4;
    color: #fff;
}

.vis {
    height: auto;
    width: auto;
    border-color: #2A3C24;
    background-color: #DAD593;
    border-style: solid;
    border-width: 0.25em;
    border-radius: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: left;
}

h1, h2, h3 { color: #2A3C24; }

#title {
    background-color: #52D1DC;
}

a {
    color: #741F2B;
    font-weight: bold;
    text-decoration: none;
}

li {
    color: #475B5A
}
